#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 39px 61px 50px;
    max-width: 452px;
    max-height: 497px;
    /* background: linear-gradient(to bottom, #f19b6d, #EB8665); */
    background-color: #17212B;
    border-radius: 10px;
    box-shadow: 0 0 10px #7f7f7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

/* .auth{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 452px;
    height: 497px;
    background-color: #17212B;
} */

.auth__text{
    text-align: center;
    padding: 5%;
    margin-bottom: 37px;
}

.auth__text-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 13px;
}

.auth__text-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #7F91A4;
}

.auth__input input{
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #858F98;;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #465461;
    padding-bottom: 13px;
    width: 100%;

    margin-bottom: 42px;
}

.auth__btn{
    padding: 13px 40px;
    background-color: #5188C1;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}
